[submodule "tensorflow-model-zoo.torch"]
	path = tensorflow-model-zoo.torch
	url = https://github.com/yjxiong/tensorflow-model-zoo.torch
[submodule "model_zoo"]
	path = model_zoo
	url = https://github.com/yjxiong/tensorflow-model-zoo.torch
[submodule "anet_toolkit"]
	path = anet_toolkit
	url = https://github.com/yjxiong/ActivityNet-Toolkit
[submodule "code"]
	path = code
	url = https://github.com/coin-dataset/code
